/** Override Bulma's generic variables **/
$body-family: "Roboto Mono", Merriweather, "Source Sans Pro", "Public Sans Web", sans-serif;

/** Override Bulma's derived variables **/
$text: black; // primary navbar text & body text color
$body-background-color: $cve-theme-page-background;
$body-font-size: 1rem;
$link: $theme-color-primary;
$link-visited: $theme-color-violet-vivid;
$family-primary: "Roboto Mono", Merriweather, "Source Sans Pro", "Public Sans Web", sans-serif;
$family-secondary: "Roboto Mono", Merriweather, "Source Sans Pro", "Public Sans Web", sans-serif;
$family-code: sans-serif;
$size-small: 0.77rem;

/** Override Bulma's element variables **/
$icon-dimensions-large: 4rem;

/** Override Bulma's form variables **/
$input-placeholder-color: $theme-color-base;

/** Override Bulma's Layout - footer variables **/
$footer-background-color: $theme-color-base-lightest;

/** Override Bulma's navbar variables **/
$navbar-background-color: $theme-color-primary-darker; // background for application size below desktop 
$navbar-item-hover-background-color: unset; // submenu background color for touchscreen
$navbar-item-color: white;
$navbar-item-hover-color: white; // sets submenu item for selected page & active link color
$navbar-burger-color: $theme-color-accent-warm;
$navbar-tab-hover-border-bottom-color: white;
$navbar-tab-active-color: white;
$navbar-dropdown-radius: $cve-border-radius;	
$navbar-dropdown-background-color: $theme-color-primary-darker;
$navbar-dropdown-item-active-color: $theme-color-accent-cool-light; // desktop
$navbar-dropdown-item-hover-color: white;

/** Override Bulma's pagination variables **/
$pagination-margin: 0;
