$black-bis:	hsl(0, 0%, 7%);
$black-ter:	hsl(0, 0%, 14%);
$grey-darker:	hsl(0, 0%, 21%);
$grey-dark:	hsl(0, 0%, 29%);
$grey-light:	hsl(0, 0%, 71%);
$grey-lighter:	hsl(0, 0%, 86%);
$white-ter:	hsl(0, 0%, 96%);
$white-bis:	hsl(0, 0%, 98%);