
@import './variables.scss';
@import './bulmaCveCustomizations.scss';
@import 'bulma/sass/utilities/initial-variables.sass';
@import './google.scss';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 52px;
}

// Work around for sticky secondary navbar sticky starting from desktop so page content is responsive 
@media only screen and (max-width: $desktop - 1px) {
  #app {
    margin-top: 52px;
  }
}

/* Columns customizations start here */
.column {
  padding: 1rem;
}
/* Columns customizations end here */

/* Layout - Container, Hero, Section, Tiles customizations start here */
/** Layout - Container starts here **/
#cve-homepage-columns-container, #cve-secondary-page-main-container, #cve-tertiary-page-main-container {
  padding: 2rem 1rem 2rem 1rem;
  flex: 1; // workaround to make Bulma footer sticky
}
/** Layout - Container ends here **/
/** Layout - Hero starts here **/
.hero {
  margin-top: 2rem;
}

.hero-body {
  padding: unset;
}
/** Layout - Section starts here **/
section.hero:first-of-type{
  margin-top: unset;
}
/** Layout - Section ends here **/
/** Layout - Tile starts here **/
.tile {
  border-radius: $cve-border-radius;
}

.cve-border-dark-blue {
  border: 1px solid $theme-color-primary-darker;
}

.tile.is-ancestor {
  margin: unset;
}

.tile.is-ancestor:last-child {
  margin-bottom: unset;
}
/** Layout - Tile ends here **/

/** Layout - Feedback link starts here **/
.cve-feedback-link {
  padding-top: 1.5rem;
  text-align: center;
}
/** Layout - Feedback link ends here **/

/* Layout customizations end here */

/* Elements - Button, Content, Icon, Images, Table, Title customizations start here */
/** Elements - Button starts here **/
.cve-button {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  color: $theme-color-primary-darker;
  border-color: $theme-color-primary-darker;
}

.cve-button-outline {
  background-color: white;
}

.cve-button-accent-warm {
  background-color: $theme-color-accent-warm;
}

.cve-button-base-color {
  background-color: $theme-color-base-lightest;
}

a {
  font-weight: bold;
}
/** Elements - Button ends here **/
/** Elements - Content starts here **/

/*** secondary page & below start here ***/
.cve-task-tile-header {
    background-color: $theme-color-primary-darker;
    color: white !important;
    padding: 5px 10px 5px 10px;
    text-align: left;
    display: flex;
}

.tile.is-parent {
  padding: 0.25rem;
}


.tile .is-parent.cve-task-left-tile {
  padding-left: 0;
}

.cve-task-tile-list {
  padding: 0px 10px 20px 35px;
  text-align: left;
}

.cve-task-tile-list-item {
  list-style: square;
}

.tile-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/*** secondary page & below end here ***/
/** Elements - Content ends here **/

/** Elements - Icon starts here **/
.cve-icon-xxs {
  font-size: 10px;
  height: 12px !important;
  width: 12px !important;
}

.cve-accordion-icon {
    display: inline;
    cursor: pointer;
}
/** Elements - Icon ends here **/

/** Elements - List starts here **/
.cve-list-no-bullet {
  list-style-type: none;
}
/** Elements - List ends here **/
.cve-round-edges-black-border {
  border-radius: $cve-border-radius;
  border: 1px solid black;
}

.cve-dark-purple-bg {
  background-color: $cve-color-infographic-purple;
}

/** Elements - Notification starts here **/
.notification.is-info {
  background-color: $theme-color-base-lightest;
  color: $black;
}

.notification a:not(.button):not(.dropdown-item)
{
  text-decoration: none;
  color: #005ea2;
  cursor: pointer;
}

.notification a:not(.button):not(.dropdown-item):hover
{
  text-decoration: none;
  color: $grey-darker;
  cursor: pointer;
}
/** Elements - Notification ends here **/

/** Elements - Table starts here **/
.cve-scrollx-table-container {
  overflow-x: scroll; // horizontal scroll
}
.table {
  margin-top: 0.5rem;
}

.table thead th {
  color: white;
  background-color: $theme-color-primary-darker;
  border: 1px solid $theme-color-primary-darker;
}

.table td {
  border-bottom: 1px solid $theme-color-primary-darker;
}

.table tbody tr th {
  color: white;
  background-color: $theme-color-primary-darker;
  border: 1px solid $theme-color-primary-darker;
}
/** Elements - Table ends here **/


/** Elements - Title starts here **/
.cve-capitalize-first-letter {
  text-transform: capitalize;
}

// h settings, all h levels must be included in the html for accessibility
h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  text-transform: uppercase;
}

.title {
  color: $black;
}
/*** secondary page & below start here ***/
// #cve-main-page-content h2, h3, h4, h5, h6 {
//   margin-bottom: 24px;
// #cve-secondary-page-main-content h2, h3, h4, h5, h6 {
//   margin-bottom: unset;
// }

// #cve-main-page-content h3, h4, h5, h6 :not(.title.cve-task-tile-header) {
//   margin-top: 24px;
// }

// top spacing to prevent heading from being hidden by primary nav
.cve-heading-top-spacing {
  margin-top: -30px !important;
  padding-top: 52px !important;
}

.cve-last-reviewed-date {
    font-size: $size-6;
    padding-top: 30px;
}

.cve-last-reviewed-date-label {
    font-weight: $weight-bold;
}

// #cve-tertiary-page-main-content h2, h3, h4, h5, h6 :not(.title.cve-task-tile-header) {
//   margin-top: 24px;
// }

#cve-tertiary-page-main-content {
  text-align: left;
}
/*** secondary page & below end here ***/
/** Elements - Tittle ends here **/

/** Elements -Tag starts here **/
.tag {
  font-size: 16px;
}
/** Elements -Tag ends here **/
/* Elements customizations end here */

/* Components - Message, Menu, Panel customizations start here */
/** Components - Menu starts here **/
.menu {
  background: white;
  border: 1px solid $theme-color-primary-darker;
  padding: 16px;
  margin-top: unset;
  border-radius: $cve-border-radius;
}

.menu-label {
  font-size: $size-4;
  margin-bottom: 0.5rem !important;
  color: black;
  font-weight: 600;
}

/** Components - Menu ends here **/
.message-header {
  background-color: $white !important;
  border-bottom: 1px solid $theme-color-base-light !important;
  padding-bottom: 6px !important;
  color: black !important;
}

.message-label {
  margin-top: auto; 
  margin-bottom: auto;
}

.message-header > .cve-message-header-title {
  margin-bottom: unset !important;
}

.message-body a {
  color: $theme-color-primary !important;
  text-decoration: unset !important;
}

/** Components - Panel starts here **/
/*** secondary page & below start here ***/
.cve-panel {
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: $cve-border-radius;
}

.cve-panel-heading {
  border-radius: $cve-border-radius;
}
/*** secondary page & below end here ***/
/** Components - Panel ends here **/
/* Components customizations end here */

/* Form - Radio customizations end here */
/** Form - Radio starts here **/
.radio + .radio {
  margin-left: unset;
}
/** Form - Radio ends here **/
/* Form customizations end here */

/* Helpers - Typography customizations end here */
.cve-white-bg-gray-border-container {
  background-color: white;
  border: 1px solid $theme-color-base-lighter;
  padding: 0 1rem 2rem 1rem;
  margin-top: 1rem;
}


.cve-help-text {
  font-size: 14px;
}
/* Helpers customizations end here */

/* Buefy - Collapse customizations start here */
/** Buefy - Collapse starts here **/
.cve-b-collapse-header-title {
  padding: unset;
  margin: 1px;
}

div#contentIdForA11y1.collapse-content {
  margin-top: 24px;
  margin-bottom: 24px;
}

.b-tabs {
  padding: 1rem 2rem;
}
/** Buefy - Collapse ends here **/
/* Buefy customizations end here */

/* Bulma-Extensions - Timeline customizations start here (https://wikiki.github.io/components/timeline/) */
.content h1, h2, h3, h4, h5, h6 {
  color: black !important;
}

.timeline .timeline-item .timeline-marker {
  background-color: white !important;
}

.timeline-content {
  width: 90%;
}

.timeline {
  margin-top: 24px;
  padding: 8px;
  background-color: white !important;
  border: 1px solid $theme-color-base-lighter !important;
  color: black !important;
}

.timeline-header > .tag {
  background-color: unset;
  color: $theme-color-base-darker;
  text-transform: uppercase;
}

.timeline .timeline-item .timeline-marker {
  border: 2px solid $theme-color-primary-darker !important;
  top: 2rem !important;
  font-weight: $weight-bold !important;
}

.timeline-marker {
  height: 32px !important;
  width: 32px !important;
  margin: auto !important;
  text-align: center !important;
  border-radius: unset !important;
  padding-top: 2px;
}

.timeline-item {
  padding-bottom: unset !important;
  border-left: 3px solid $theme-color-base-lighter;
}

.timeline-content {
  padding: 2.1rem 0 0 2em !important;
}

.timeline-content > h3 {
  margin-bottom: 0.5rem !important;
}
/* Bulma-Extensions customizations end here */

/* Other starts here */
.cve-is-borderless {
  border: none;
}

/** Figure **/

.cve-figcaption-text {
  font-style: italic;
  text-align: left;
  caption-side: bottom;
}

caption {
  text-align: left;
}

/** Border **/
.cve-base-light-gray-borders-bg {
  border: 1px solid $theme-color-base-lighter !important;
  background-color: $theme-color-base-lighter !important;
  padding: auto !important;
}

.cve-base-light-gray-borders-bg button {
  background-color: $theme-color-base-lighter !important;
  border: unset !important;
}

.cve-base-light-gray-borders-bg button:hover {
  border: unset !important;
}

/** Margin **/
.cve-no-margin {
  margin: unset !important;
}

/* Other ends here*/
