/* Color */
/** From USWDS: https://designsystem.digital.gov/utilities/color/ **/
$theme-color-primary-darker: #162e51; //blue-warm-80v  //Primary Blue used for box label backgrounds, color of icons menu background

$theme-color-accent-warm: #fa9441;    //orange-30v
$theme-color-base-light: #a9aeb1;     //gray-cool-30
$theme-color-base-lighter: #dfe1e2;   //gray-cool-10
$theme-color-base-lightest: #f0f0f0;  //gray-cool-5
$theme-color-base: #71767a;           //gray-cool-50
$theme-color-base-darker: #3d4551;    //gray-cool-70
$theme-color-gray-60: #5c5c5c;  // gray-60
$theme-color-base-darkest: #1b1b1b;   //gray-90

/*** Link colors ***/
$theme-color-primary: #005ea2;   //blue-60v
$theme-color-violet-vivid: #54278f; // violet-70v

/*** Alert/Notifcation colors ***/
$theme-color-warning-lighter: #faf3d1; //yellow-5
$theme-color-error-light: #f4e3db; //red-warm-10
$theme-color-success-lighter: #ecf3ec; //green-cool-5

/** Other colors **/
$theme-color-accent-cool-light: #97d4ea; // secondary navbar background
$cve-theme-page-background: #fcfcfc;   // lighter than any USWDS colors
$theme-color-yellow-vivid-20: #face00; // 'reserved' state tag
$theme-color-blue-warm-20: #bbcae4; // 'published' state tag
$theme-color-violet-vivid-60: #783cb9; // product version
$theme-color-violet-vivid-80: #39215e; // CNA tag
$cve-color-dark-purple: #161636; // primary navbar
$cve-color-infographic-purple: #2F2A47;


/* Border */
$cve-border-radius: 2px;
